<nav class="nav">
  <a  id="l-postask">PosTask</a>
  <div class="search">
    <div class="input-search">
      <button routerLink="/login">Sing in</button>
    </div> 
  </div>
</nav>
<div class="container">
  <div class="form">
      <h2>Cadastro</h2>
      <p [ngClass]="{incorreto: y}"></p>
      <form #f="ngForm">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="username"  id="nome" [(ngModel)]="username" required>
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" required>
          </div>
          <button (click)="onSubmit()" [disabled]="!f.valid">Save</button>
      </form>
  </div>
</div>