#l-postask{
    color: rgb(249, 252, 253);
    text-decoration: none;
    padding: 18px;

}
.nav{
    background-color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: inline-flex;
    /* flex-direction: row; */
    width: 100%;
}

.link-navigation{
    padding: 18px;

}
#bt-create, #bt-home {
    border: 1px solid transparent;
   
    color: white;
    padding: 12px;
    margin: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1rem;
    cursor:pointer;
}
#bt-create {
    background-color: brown;
}
#bt-home {
    background-color: aquamarine;
}
footer {
    background-color: rgba(27, 2, 51, 0.979);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    
}
.search {
    align-self: center;
    width: 70%;
}
.input-search {
    float: right;
    padding: 10px 6px;
    width: 30%;
    border-radius: 4px;
    border: 1px solid transparent;
   
}
