<app-task-navbar></app-task-navbar>

  <div class="container">
    <div class="tasks">
    
        <h2>To do</h2>
        <nav class="all-view-delete">
            <a type="button" [routerLink]="['all', 'todo']"><i class="fa fa-tasks"></i></a>
            <a type="button" (click)="deleteAll('1')"><i class="fa fa-trash-alt"></i></a>
        </nav>
        <div class="todo" [dragula]='"second-bag"'>
          
          <div class="card-to" *ngFor="let task of filterTaskOfState('1')"  [style.backgroundColor]="task.color" data-id="{{task.id}}" title="{{ task.tarefa }}">
            <fa name="times" (click)="delete(task)"></fa>
            <!-- <a [routerLink]="['/tasks/detail', task.id]" ><p>{{ task.tarefa }}</p></a> -->
            <a (click)="onEdit(task)" ><p>{{ task.tarefa }}</p></a>
          </div>
       
        </div>
        <h2>Doing</h2>
        <nav class="all-view-delete">
            <a type="button" [routerLink]="['all', 'doing']"><i class="fa fa-tasks"></i></a>
            <a type="button" (click)="deleteAll('2')"><i class="fa fa-trash-alt"></i></a>
        </nav>
        <div class="doing" [dragula]='"second-bag"' >
            
          <div class="card-doing" *ngFor="let task of filterTaskOfState('2')" 
          [style.backgroundColor]="task.color" data-id="{{task.id}}"
          title="{{ task.tarefa }}"
          >
            <fa name="times" (click)="delete(task)"></fa>
            <!-- <a [routerLink]="['/tasks/detail', task.id]" ><p>{{ task.tarefa }}</p></a> -->
            <a (click)="onEdit(task)" ><p>{{ task.tarefa }}</p></a>
          </div>
        </div>
        <h2>Done</h2>
        <nav class="all-view-delete">
            <a type="button" [routerLink]="['all', 'done']"><i class="fa fa-tasks"></i></a>
            <a type="button" (click)="deleteAll('3')"><i class="fa fa-trash-alt"></i></a>
        </nav>
        <div class="done" [dragula]='"second-bag"' >
            
          <div class="card-done" *ngFor="let task of filterTaskOfState('3')" [style.backgroundColor]="task.color"
          data-id="{{task.id}}"
          title="{{ task.tarefa }}">
            <fa name="times" (click)="delete(task)"></fa>
            <!-- <a [routerLink]="['/tasks/detail', task.id]"><p>{{ task.tarefa }}</p></a> -->
            <a (click)="onEdit(task)"><p>{{ task.tarefa }}</p></a>
          </div>
        </div>
    </div>
   
  </div> 
  <router-outlet></router-outlet>
