<div class="postite">
  <a routerLink="/tarefas/create/3" class="green"><i class="fa fa-plus-circle"></i></a>
  <a routerLink="/tarefas/create/2" class="violet"><i class="fa fa-plus-circle"></i></a>
  <a routerLink="/tarefas/create/1" routerLinkActive="active" class="blue"><i class="fa fa-plus-circle"></i></a>
</div>
<div class='wrapper'>
  <div class="container">
    <h2>To do</h2>
    <div class="todo" [dragula]='"second-bag"'>
     
      <div class="card-to" *ngFor="let task of tasks">
        <fa name="trash" ></fa>
        <a href="#">{{ task.tarefa }}</a>
        
      </div>
    </div>
    <h2>Doing</h2>
    <div class="doing" [dragula]='"second-bag"'>
        
      <div class="card-done" *ngFor="let task of tasks">
        <fa name="trash" ></fa>
        <a href="#">{{ task.tarefa }}</a>
      </div>
    </div>
    <h2>Done</h2>
    <div class="done" [dragula]='"second-bag"'>
        
      <div class="card-doing" *ngFor="let task of tasks">
        <fa name="trash" ></fa>
        <a href="#">{{ task.tarefa }}</a>
      </div>
    </div>
  </div> 
</div>
