.container {
    display: flex;
    width: 100%;
    
}
.tasks {
    padding: 50px 0 350px 0;
    width: 85%;
    display: inline-flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.task {
    color: white;
    padding: 50px;
    margin: 10px;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: rgb(248, 252, 251);
    text-align: center;
}
p{
    width: 11em;  
    word-wrap: break-word;
}